.pane {
    -fx-background-color: #006699;
}

.login.title {
    -fx-font-size: 56px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.login.card {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px;
}

.login.button {
    -fx-font-size: 24px;
}

.login.text {
    -fx-font-size: 20px;
}