.button {
    -fx-font-family: "Open Sans Regular";
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
    -fx-background-color: #006699;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.home-button {
    -fx-padding: 0px;
    -fx-background-radius: 0px;
}

.logout-button {
    -fx-padding: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: black!important;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-radius: 5em;
}

.logout-button:hover {
    -fx-font-size: 22px;
}