.legacy-combo-box {
    -line-color: rgb(50, 120, 220);
    -unfocused-line-color: #4d4d4d;
    -fx-prompt-text-fill: #4d4d4d;
    -fx-padding: -1 -1 -1 -5;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #003366;
    -fx-font-size: 24;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
    -fx-text-fill: #006699;
}

.legacy-combo-box > .arrow-button {
    -fx-padding: 2;
    -fx-background-color: transparent;
}

.legacy-combo-box .text-field {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
    -fx-prompt-text-fill: #003366;
    -fx-text-fill: #006699;
}

.legacy-combo-box .combo-box-button-container {
    -fx-background-color: transparent;
}

.legacy-combo-box .validate-label {
    -fx-background-color: transparent;
    -fx-font-family: "Open Sans SemiBold";
    -fx-text-fill: #006699;
}

.legacy-combo-box .list-cell {
    -fx-text-fill: #006699;
}

.legacy-combo-box > .arrow-button > .arrow {
    -fx-background-color: #006699;
}